* {

    padding: 0;
    margin: 0;

    }

    .Titulo{

        background-color: rgb(102, 167, 102);
        color: rgb(5, 5, 5);
        font-size: large;
        font-style: oblique;
        padding: 18px;
        text-size-adjust: 7;
        border-bottom: solid 2px black;
    }

    .imagemlimpeza{

        text-align: left;
        padding: 10;
            margin:10;
            font-size: x-large;

    }

    .titulolimpeza{
        padding: 10;
        margin: 10;
        font-size: x-large;
    }

    .limpeza{
        padding: 10;
        margin: 10;
        font-size: x-large;
    }
    .botaoest {
        background-color: rgb(102, 167, 102);
        color: #fff;
        border: 1px solid black;
        padding: 5px 5px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 15px;
        transition: all 1s ease; 
      }
            
       .botaoest:hover {
    
        background-color: #fff;
        color: rgb(102, 167, 102);
        padding: 1px 0px 0px 1px;
    }
    .botaoini {
            background-color: rgb(102, 167, 102);
            color: #fff;
            padding: 5px 5px;
            border: 1px solid black;
            border-radius: 4px;
            cursor: pointer;
            font-size: 15px;
        transition: all 1s ease;
       }
                
       .botaoini:hover {
        background-color: #fff;
        color: rgb(102, 167, 102);
        padding: 1px 0px 0px 1px    ;
            
                   }
                   .botao5rs {
                   background-color: rgb(102, 167, 102);
                   color: #fff;
                   border: 1px solid black;
                   padding: 5px 5px;
                   border-radius: 4px;
                   cursor: pointer;
                   font-size: 15px;
                   transition: all 1s ease; 
                 }
                       
                  .botao5rs:hover {
               
                   background-color: #fff;
                   color: rgb(102, 167, 102);
                   padding: 1px 0px 0px 1px;
               }
               .botaocuri {
                       background-color: rgb(102, 167, 102);
                       color: #fff;
                       padding: 5px 5px;
                       border: 1px solid black;
                       border-radius: 4px;
                       cursor: pointer;
                       font-size: 15px;
                   transition: all 1s ease;
                  }
                           
                  .botaocuri:hover {
                   background-color: #fff;
                   color: rgb(102, 167, 102);
                   padding: 1px 0px 0px 1px    ;
                              }
                              
                   .botaoener {
                    background-color: rgb(102, 167, 102);
                    color: #fff;
                    border: 1px solid black;
                    padding: 5px 5px;
                    border-radius: 4px;
                    cursor: pointer;
                    font-size: 15px;
                    transition: all 1s ease; 
                  }
                        
                   .botaoener:hover {
                
                    background-color: #fff;
                    color: rgb(102, 167, 102);
                    padding: 1px 0px 0px 1px;
                }

                .siteinfo {
                    
                    padding: 10;
                    margin: 10;
                    font-size: medium;
                    text-align: center;

                }