* {

padding: 0;
margin: 0;
}

.energia {

    background-color: rgb(102, 167, 102);
    color: rgb(5, 5, 5);
    font-size: large;
    font-style: oblique;
    padding: 18px;
    text-size-adjust: 7;
    border-bottom: solid 2px black;

}

.subtitulo {

text-align: center;
font-size: x-large;
padding: 10;
margin: 10;

}

.energiasolar {

font-size: larger;
padding: 10;
margin: 10;

}

.imagemenergia {

text-align: center;
padding: 10;
margin: 10;

} 

.energiatexto {

    text-align: center;
    padding: 0;
    margin: 0;

}

.imagemexemplo {

    text-align: center;
    padding: 10;
    margin: 10;

}

.texto2 {

    font-size: larger;
    padding: 10;
    margin: 10;

}

.botaoest {
    background-color: rgb(102, 167, 102);
    color: #fff;
    border: 1px solid black;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all 1s ease; 
  }
        
   .botaoest:hover {

    background-color: #fff;
    color: rgb(102, 167, 102);
    padding: 1px 0px 0px 1px;
}
.botaoini {
        background-color: rgb(102, 167, 102);
        color: #fff;
        padding: 5px 5px;
        border: 1px solid black;
        border-radius: 4px;
        cursor: pointer;
        font-size: 15px;
    transition: all 1s ease;
   }
            
   .botaoini:hover {
    background-color: #fff;
    color: rgb(102, 167, 102);
    padding: 1px 0px 0px 1px    ;
        
               }
               .botao5rs {
               background-color: rgb(102, 167, 102);
               color: #fff;
               border: 1px solid black;
               padding: 5px 5px;
               border-radius: 4px;
               cursor: pointer;
               font-size: 15px;
               transition: all 1s ease; 
             }
                   
              .botao5rs:hover {
           
               background-color: #fff;
               color: rgb(102, 167, 102);
               padding: 1px 0px 0px 1px;
           }
           .botaocuri {
                   background-color: rgb(102, 167, 102);
                   color: #fff;
                   padding: 5px 5px;
                   border: 1px solid black;
                   border-radius: 4px;
                   cursor: pointer;
                   font-size: 15px;
               transition: all 1s ease;
              }
                       
              .botaocuri:hover {
       background-color: #fff;
       color: rgb(102, 167, 102);
       padding: 1px 0px 0px 1px    ;
              }

              .botaolimp {
                background-color: rgb(102, 167, 102);
                color: #fff;
                padding: 5px 5px;
                border: 1px solid black;
                border-radius: 4px;
                cursor: pointer;
                font-size: 15px;
            transition: all 1s ease;
           }
                    
           .botaolimp:hover {
    background-color: #fff;
    color: rgb(102, 167, 102);
    padding: 1px 0px 0px 1px    ;
           }
           
.botaosaida {
   
    padding: 20;
    margin:20;
    
    }
    .botaoprox {

        background-color: hsl(110, 79%, 78%);
        color: black;
        border: 1px solid black;
        padding: 5px 5px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 15px;
        }
        .botaoret {
    
            background-color: hsl(110, 79%, 78%);
            color: black;
            border: 1px solid black;
            padding: 5px 5px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 15px;
            }